.container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  background-color: var(--white-color);
}

.heart {
  color: var(--primary-color);
}
