.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.label {
  font-weight: bold;
}

.inputContainer {
  display: grid;
  position: relative;
}

.input {
  padding: 1.3rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  font-size: 1.6rem;
}

.password {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.error {
  font-size: 1.4rem;
  color: var(--danger-color);
}
